<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class=" hide-on-med-and-down">
        <li><a href="/property">Properties</a></li>
        <li><a href="/user">Realtors</a></li>
        <div class="right">
        <li><a href="/user/<%= user ? 'dashboard' : 'login'%>"><%=user ? 'Dashboard' : 'Login'%></a></li> 
        <li><a href="/user/<%= user ? 'logout' : ''%>"><%=user ? 'Logout' : ''%></a></li> 
        
        
      </div>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/property">Properties</a></li>
    <li><a href="/user">Realtors</a></li>
    <li><a href="/user/<%= user ? 'dashboard' : 'login'%>"><%=user ? 'Dashboard' : 'Login'%></a></li> 
  </ul>
</header>
