<main class='dashboard-main'>  

    <div class="row dashboard-container">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab"><a href="#test1" class="active ">View your listings</a></li>
            <li class="tab"><a href="#test2">View your favorites</a></li>
          </ul>
          
        </div>
        
        <% if(properties) { %>
            <div class="card-container col s12" id="test1">
                <a class=" col s4 offset-s4 waves-effect waves-light btn green add-btn" href='/property/new' >Add new listing</a>
                <% properties.forEach(property => { %>
                    <div class='card white lighten-4 z-depth-4 z-depth-3 stock-card'>
                        <div class="card-content grey-text text-darken-3">
                            <h3 class='card-title'>$<%= property.price %></h3>
                            <p>Listed on <%= property.createdAt.toDateString() %></p>
                            <div class='property-content'>
                                <div class="carousel">
                                <% if(property.img.data) { %>
                                    <img src="data:image/<%=property.img.contentType%>;base64,<%=property.img.data.toString('base64')%>" class="carousel-item">
                                <% } %>
                                <% if(property.imgURL) { %>
                                    <%property.imgURL.forEach(url => { %>
                                        
                                        <img src="<%=url%>" class='card-image carousel-item'>
                                   <% }) %>
                                    
                                <% } %>
                            </div>

                                <div>
                                    <div class='property-address'>
                                        <p><%= property.address %> |</p>
                                        <p><%= property.city %> |</p>
                                        <p><%= property.state %> |</p>
                                        <p><%= property.zip %></p>
                                    </div>
                                    <p><%= property.bedrooms %> bedrooms</p>
                                    <p><%= property.baths %> baths</p>
                                    <p><%= property.seller.email %></p>
                                    
        
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit</a>
        
                                    <!-- Modal Structure -->
                                    <div id="modal1" class="modal">
                                      <div class="modal-content">
                                          <h2 class='grey-text darken-4'>Edit Listing:</h2>
                                  
                                          <form action="/property/<%=property._id%>?_method=put" method="POST" id='edit-form' enctype="multipart/form-data">
                                  
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="seller" type="text" class="validate" value='<%=property.seller.id%>' name='seller'>
                                                      <label name="seller">Seller</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="price" type="number" class="validate" value='<%=property.price%>' name='price'>
                                                      <label name="price">Price</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="address" type="text" class="validate" value='<%=property.address%>' name='address'>
                                                      <label name="address">Address</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="city" type="text" class="validate" value='<%=property.city%>' name='city'>
                                                      <label name="city">City</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="state" type="text" class="validate" value='<%=property.state%>' name='state'>
                                                      <label name="state">State</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="zip" type="number" class="validate" value='<%=property.zip%>' name='zip'>
                                                      <label name="zip">Zip Code</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="bedrooms" type="number" class="validate" value='<%=property.bedrooms%>' name='bedrooms'>
                                                      <label name="bedrooms">Number of Bedrooms</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="baths" type="number" class="validate" value='<%=property.baths%>' name='baths'>
                                                      <label name="baths">Number of Bathrooms</label>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="imgURL" type="text" name='imgURL' class="validate" value='<%=property.imgURL%>'>
                                                    <label name="imgURL">Image URL</label>
                                                </div>
                                            </div>
                                              <div class="row">
                                                <div class="input-field col s12">
                                                    <input id="img" name='img' class="validate" type="file" value='<%=property.img.data%>'>
                                                    <label name="img">Upload an Image</label>
                                                </div>
                                            </div>
                                              <div class="row">
                                                  <div class="input-field col s12">
                                                      <input id="description" type="text" class="validate" value='<%=property.description%>' name='description'>
                                                      <label name="description">Enter a brief description</label>
                                                  </div>
                                              </div>
                                  
                                          
                                          </form>
                                      </div>
                                      <div class="modal-footer">
                                          <a class="waves-effect waves-light btn green accent-3" id='edit'>Edit</a>
                                      </div>
                                    </div>
        
                                    <form action="/property/<%=property._id%>?_method=DELETE" method="POST" class='form-button form-delete'>
                                        <a class="waves-effect waves-light btn red accent-3 delete-btn" >Delete</a>
                                    </form>
                                    
        
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
        <% } else {%>
            <h2>No current listings</h2>
            <% } %>



        <div id="test2" class="col s12">
            <% favorites.favorites.forEach(fav => { %>
                <div class='card light-blue darken-4 z-depth-3 stock-card'>
                    <div class="card-content white-text">
                        <h3 class='card-title'>$<%= fav.price %></h3>
                        <div class='property-content'>
                            
                            <div class="carousel">
                                <% if(fav.img.data) { %>
                                    <img src="data:image/<%=fav.img.contentType%>;base64,<%=fav.img.data.toString('base64')%>" class="carousel-item">
                                <% } %>
                                <% if(fav.imgURL) { %>
                                    <%fav.imgURL.forEach(url => { %>
                                        
                                        <img src="<%=url%>" class='card-image carousel-item'>
                                   <% }) %>
                                    
                                <% } %>
                            </div>
                            
                         
                            <div>
                                <div class='property-address'>
                                    <p><%= fav.address %> |</p>
                                    <p><%= fav.city %> |</p>
                                    <p><%= fav.state %> |</p>
                                    <p><%= fav.zip %></p>
                                </div>
                                <p><%= fav.bedrooms %> bedrooms</p>
                                <p><%= fav.baths %> baths</p>
                            </div>  
                            <a href='/property/<%=fav.id%>' class="waves-effect waves-light btn blue accent-3 visit-fav-btn" >View Listing</a>
                            <form action="/property/favorite/<%=fav.id%>?_method=PUT" method="POST" class='form-button form-delete-favorite'>
                                <a class="waves-effect waves-light btn red accent-3 delete-fav-btn" >Remove favorite</a>
                            </form>             
                        </div>
                    </div>
                </div>
            <% }) %>
            
                  
                  
        </div>
      </div>
</main>

