<main>
    <section class='index-header'>
    <div class='index-h1-img-container'>
        <h1 class='index-h1'>Find the best real estate in your area for a good price</h1>
        <img src="./images/modernhouse.jpeg" alt="home" class='index-home'>
    </div>
    <h2>Buy your dream home today</h2>
</section>
    <div class="card-container">
    <% property.forEach(property => { %>
        <div class='card white lighten-4 z-depth-4 stock-card index-cards'>
        <!-- <div class='card light-blue darken-4 z-depth-3 stock-card'> -->
            <div class="card-content grey-text text-darken-3">
                <h3 class='card-title'>$<%= property.price %></h3>
                <p class='property-listedDate'>Listed on <%=property.createdAt.toDateString()%></p>
                <div class='property-content'>
                    <div class="carousel">
                        <% if(property.img.data) { %>
                            <img src="data:image/<%=property.img.contentType%>;base64,<%=property.img.data.toString('base64')%>" class="carousel-item responsive-img">
                        <% } %>
                        <% if(property.imgURL) { %>
                            <%property.imgURL.forEach(url => { %>
                                
                                <img src="<%=url%>" class='card-image carousel-item responsive-img'>
                           <% }) %>
                            
                        <% } %>
                    </div>
                    <div>
                        <div class='property-address'>
                            <p><%= property.address %> </p>
                            <p><%= property.city %> </p>
                            <p><%= property.state %> </p>
                            <p><%= property.zip %></p>
                        </div>
                        <p><%= property.bedrooms %> bedrooms</p>
                        <p><%= property.baths %> baths</p>
                        <%if(property.seller) { %>
                            <p><%= property.seller.email %></p>
                       <% } %>
                        
                        <div class='btn-container'>
                            <a class="waves-effect waves-light btn light-blue darken-4 view-btn" href="/property/<%=property.id%>">Check it out!</a>
                            <form action="/property/favorites" method="POST" class='favorite-form' id='<%= property.id %>'>
                                <input type="hidden" name='id' value='<%=property.id%>' class='favorite'>
                                <a class="waves-effect waves-light btn-floating btn-large waves-effect waves-light favorite-btn
                                <% if(user) {user.favorites.forEach(fav => { %>
                                    <% if(fav == property.id) { %>
                                        <%= 'red' %>
                                    <% } %>
                                <% })} %>
                                ">
                                
                                    <i class="material-icons" data-id='<%= property.id %>'>favorite_border</i>
                                </a>
                                
                  
                                 
                                 
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
</main>

