<main>
    <div class='index-bg show_bg_2'>
        <h1>Real Estate Finder</h1>
    </div>
    <div class="card-container">
        <div class='card light-blue darken-4 z-depth-3 stock-card'>
            <div class="card-content white-text">
                <h3 class='card-title'>$<%= property.price %></h3>
                <div class='property-content'>
                    
                    <% if(property.img.data) { %>
                        <img src="data:image/<%=property.img.contentType%>;base64,<%=property.img.data.toString('base64')%>">
                    <% } %>
                    <% if(property.imgURL) { %>
                        <img src="<%=property.imgURL%>">
                    <% } %>
                    <div>
                        <div class='property-address'>
                            <p><%= property.address %> |</p>
                            <p><%= property.city %> |</p>
                            <p><%= property.state %> |</p>
                            <p><%= property.zip %></p>
                        </div>
                        <p><%= property.bedrooms %> bedrooms</p>
                        <p><%= property.baths %> baths</p>
                        <p><%= property.seller.email %></p>
                        <p class='flow-text'><%= property.description %></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>