<main>
    <div class='index-bg show_bg_2'>
        <h1>Real Estate App</h1>
    </div>
    <% if(property != null) { %>
    <div class="card-container">
        <div class='card white lighten-4 z-depth-4 stock-card'>
            <div class="card-content grey-text text-darken-4">
                <h3 class='card-title'>$<%= property.price %></h3>
                <p id='date' class='property-listedDate'>Listed on <%=property.createdAt.toDateString()%></p>
                <div class='property-content'>
                    <div class="carousel carousel-property">
                        <% if(property.img.data) { %>
                            <img src="data:image/<%=property.img.contentType%>;base64,<%=property.img.data.toString('base64')%>" class="carousel-item responsive-img">
                        <% } %>
                        <% if(property.imgURL) { %>
                            <%property.imgURL.forEach(url => { %>
                                
                                <img src="<%=url%>" class='card-image carousel-item responsive-img'>
                           <% }) %>
                            
                        <% } %>
                    </div>
                    <div>
                        <div class='property-address'>
                            <p><%= property.address %> </p>
                            <p><%= property.city %> </p>
                            <p><%= property.state %> </p>
                            <p><%= property.zip %></p>
                        </div>
                        <p><%= property.bedrooms %> bedrooms</p>
                        <p><%= property.baths %> baths</p>
                        <%if(property.seller) { %>
                            <p><%= property.seller.email %></p>
                       <% } %>
                        <p class='flow-text'><%= property.description %></p>
                    </div>
                </div>
            </div>
            <iframe class='card-content'
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=<%=process.env.API_KEY%>&q=<%=property.address%>,<%=property.city%>+<%=property.state%>">
            </iframe>
        </div>
        <% } %>
    </div>
</main>